*{box-sizing: border-box;}
*{
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #040402;
}
/* For mobile phones: */

[class*="col-"] {width: 100%;float: left;padding: 15px;}
@media only screen and (max-width: 600px){
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}
  .img-b{display: none;}
  .marr1{margin-right: 0%;}
  .marl1{margin-left: 0%;}
}
@media only screen and (max-width: 993px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .img-b{display: none;}
  }
@media only screen and (min-width: 993px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .img-s{display: none;}}

/*background colors*/
.bgc-black,.bgc-black-hover:hover{
  background-color: #040402;
}
.bgc-dark,.bgc-dark-hover:hover{
  background-color: #242621;
}
.bgc-grey,.bgc-grey-hover:hover{
  background-color: #bfb6a4;
}
.bgc-off-white,.bgc-off-white-hover:hover{
  background-color: #f5ecda;
}
/* margins */
.mar{margin: 4.165%;}
.marr1{margin-right: 4.165%;}
.marl1{margin-left: 4.165%;}
.marb1{margin-bottom: 4.165%;}

img{
  width: 344px;
  height: auto;
}
.texts{
  height: 382px;
  padding: 4.5%;
}
.zoom:hover{
  transform: scale(1.04);
  display: inline-block;
  z-index: 1;
  box-shadow:0 5px 15px 0 rgba(0,0,0,0.2)
}
.zoom {
  transition: transform .35s;
}
.fontsmall{
  font-size:12px!important;
  color: white;
}
.back{
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
}
.instruction{
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: ;
}